<section ng-include="'templates/_nav.html'"> </section>




<div class="hero page">
    <div class="col-xs-12">
      <h1 class="hero-page__impact-message--title">Last works</h1>
      <span class="hero-page__impact-message--subtitle">designer and frontend</span>
    </div>
</div> <!-- //hero-page -->




<div class="col-xs-12">

 		 <!-- <h1>Last Works</h1>
		 <p class="lead"><strong>I'm a web designer / frontend</strong> based in Florianópolis, Brazil. </p>
		 <p>I have a passion for web design and love to create for web and mobile devices.</p>

 -->


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="http://direitobjetivo.com.br/" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/direitoobjetivo.png" alt="" />
				 			</a>
			<span class="card-work__title"> Direito Objetivo</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/3733728-Ricardo-Cani" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/rc-dribbble.png" alt="" />
				 			</a>
			<span class="card-work__title"> Ricardo Cani</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/3081085-Myfid-Pillow" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/pillow-mockup.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Myfid Pillow</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/3080983-Direito-objetivo-App" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/propose_direito-objetivo__app.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Propose App Direito Objetivo</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/3080944-Cards-Direito-Objetivo" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/Cards-Direito-Objetivo-.png" alt="" />
				 			</a>
			<span class="card-work__title"> Cards Direito Objetivo</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2992834-UI-and-Frondend-App-Myfid-Academy" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/mock-page-home-curso3.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Myfid Academy</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2763772-Model-Article" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/dribbble.png" alt="" />
				 			</a>
			<span class="card-work__title"> Card BIM Technology</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2549500-App-RTA-Method" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/rta-mobile-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> App RTA Method</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2137941-Website-Gate72" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/gate72-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Website Gate72</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2138113-Aroeira-Yves-Rocher" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/felipe-genuino-aroeira-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Aroeira | Yves Rocher</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2139943-Platinios-WebApp" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/platinios-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Platinios | WebApp</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2144758-Location-Widget-Rio-de-Janeiro" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/day014_-_location_widget_felipe_genuino.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Location Widget | Rio de Janeiro</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2146245-Book-of-poetry-Lu-s-Vaz-de-Cam-es" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/sonetos-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Book of poetry | Luís Vaz de Camões</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2233447-Card-Twitter-Criolo" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/card-twitter-criolo-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Card Twitter Criolo</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2307210-Day-001-Sign-Up" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/ui-sign-up-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Day 001 &#8211; Sign Up</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2330234-Day-003-Landing-page" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/Landing-page-covre-.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Day 003 Landing page</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2448382-Proposal-biography-page-for-DJ-Kolombo" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/kolombo-cover.png" alt="" />
				 			</a>
			<span class="card-work__title"> Proposal biography page for DJ Kolombo</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2549396-RTA-Method-Website" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/rta-home-dribbble.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> RTA Method Website</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2052431-Behance-Aleatory" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/behance-aleatory-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Behance Aleatory</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://dribbble.com/shots/2555672-The-Laws-Of-Simplicity" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/the-laws-of-simplicity-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> The Laws Of Simplicity</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://www.behance.net/gallery/22269237/Felipe-Genuino-Personal-Brand" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/personal-branding-cover-e1465156484986.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Personal Branding Felipe Genuino</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://www.behance.net/gallery/16541059/Redesign-do-infografico-The-Integrated-Giants-" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/infographic-cover-e1465157314299.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Redesign infographic</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://www.behance.net/gallery/10198719/E-mail-de-lancamento-Modulo-Incendio-estrutural" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/email-marketing-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> E-mail Incêndio estrutural</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://www.behance.net/gallery/18557039/Dynamic-infographic-Nova-estrutura-do-Eberick-V9" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/dynamic-infographic-cover.jpg" alt="" />
				 			</a>
			<span class="card-work__title"> Dynamic infographic</span>
		</div>
	</div>


  <div class="column">
		<div class="card-work">
			<a class="card-work__link" href="https://www.behance.net/gallery/12172037/Trabalhe-conosco-AltoQi" target="_blank">
								<img  class="card-work__thumbnail" src="assets/img/work/trabalheconosco-cover.png" alt="Trabalhe conosco AltoQi" />
				 			</a>
			<span class="card-work__title"> Trabalhe conosco AltoQi</span>
		</div>
	</div>





 	</div>
